<div class="container">
    <h1>Search for a Movie</h1>
<form action="/results" method="GET">
    <input type="text" name="movieName" placeholder="Enter Movie Name">
    <button>Click to Search</button>
</form>
</div>